.contact-container {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}


.contact {
margin-right: auto;
margin-left: auto;
text-align: center;
 width: 500px;
 border-radius: 25px;
}

.contact-logo {
    height: 80px;
    text-align: center;
}

.input {
    width: 300px;
    height: 30px;
    /* border-radius: 20px;
    padding: 5px; */
    border: solid 1px black;
    margin-bottom: 5px;
}

.contact-title {
    color: black;
}

.submit {
    width: 100px;
    color: white;
    padding: 10px;
    border: none;
    background-color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}

.submit:hover {
    color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width:390px) {
      
    .contact-container {
        display: block;
        width: 350px;
    }

    .contact {
        width: 350px;
    }
         }