.project-lucidity {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
 display: flex;
 justify-content: center;
 margin-top: 100px;
}

.title {
    text-align: center;
}

.interactive {
    margin-right: 40px;
}

.slideshow {
    width: 800px;
}

.mainImg {
    height: 400px;
    width: auto;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom: 210px;
    }
    
    .left-arrow {
    border-style: none;
    background:none;
    }
    
    .right-arrow {
        border-style: none;
        background:none;
    }
    
    .see {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    .luc-info-container {
        width: 400px;
        position:relative;
        bottom: 20px;
    }
