.about-me {
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    color: black;
}

.about-title {
    font-size: 30px;
    font-weight: 100;
}

@media only screen and (max-width:414px) {
    .about-me {
        width: 350px;
        
    }
}