.contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    color: white;
}

.res-header {
    margin-bottom: 20px;
}
.contact-notes {
margin-right: auto;
margin-left: auto;
text-align: center;
 width: 360px;
 border-radius: 25px;
position: relative;
bottom: 10px;
font-weight: 500;
}

.contact-heading {
    text-align: center;
}

.cont-name {
    font-weight: 300;
}

.contact-title {
    font-size: 40px;
    font-weight: 100;
    color: white;
    font-weight: bold;
}

.contact-notes {
    text-align: left;
}

.reach-methods {
    list-style: none;
}

.email-link {
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.email-link:hover {
    text-decoration: underline;
  }

.number {
    font-weight: bold;
}

.contactForm {
    width: 500px;
}

.input {
    width: 200px;
    height: 30px;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white
}

::placeholder {
    color: white;
}

.input-message {
    width: 406px;
    height: 30px;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid white;
}

.submit {
    width: 100px;
    color: white;
    padding: 10px;
    border: none;
    background-color: #138801;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    position: relative;
    left: 148px;
}

.submit:hover {
    color: #0D6100;
    border: 1px solid #138801;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width:768px) {
      
    .contact-wrapper {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-container {
        display: block;
        width: 350px;
        margin-top: 80px;
    }

    .contact-notes {
        width: 330px;

    }

    .contact-heading {
        text-align: center;
        width: 414px;
    }

    .contact-title {
        text-align: center;
        width: 414px;
        font-size: 40px;
    }

    .form-container {
        margin-top: 50px;
        width: 350px;
    }

    .contactForm {
        width: 350px;
        display: block;
    }

    .input {
        width: 170px;
    }
    .input-message {
        width:345px;
    }

    .submit {
        position: relative;
        left: 127px;
    }

         }