.skills-ed {
    width: 1200px;
    display: flex;
    justify-content:space-evenly;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    position: relative;
    right: 50px;
}

footer {
    font-size: 12px;
    margin-top: 70px;
    color: white;
}

@media only screen and (max-width:768px) {
      
.skills-ed {
    width: 414px;
    display: block;
    margin-right: auto;
    margin-left:auto;
    position: relative;
    right:0px;
}
     }