.project-lucidity {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 1000px;
    height: 440px;
    border-radius: 25px;
    background-color:#F0E6CE;
}

.title {
    text-align: center;
    color: #17539C;
    font-weight: bold;
}

.slideshow {
    width: 600px;
}

.mainImg-container {
    height: 440px;
    width: 600px;
    object-fit: cover;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.mainImg {
    height: 440px;
    width: 600px;
    object-fit: cover;
    transition: .3s;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 230px;
    }
    
    .left-arrow {
    height: 20px;
    border-style: none;
    background:none;
    cursor: pointer;
    }

    .left-arrow:hover {
        height:23px;
    }
    
    .right-arrow {
        height: 20px;
        border-style: none;
        background:none;
        cursor: pointer;
        position: relative;
        bottom: 4px;
    }

    .right-arrow:hover {
        height:23px;
    }
    
    .see {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: #17539C;
        /* background-color: #4974a5; */
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .see:hover {
        color: #17539C;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .luc-info-container {
        width: 400px;
        position:relative;
        /* bottom: 40px; */
        right: 25px;
    }

    .tech {
        font-weight: 700;
    }

    .info {
        font-weight: 200;
    }

    
    @media only screen and (max-width:414px) {
      
        .project-lucidity {
            display: block;
            width: 414px;
            box-shadow:none;
            padding-top: 35px;
            border-radius: 0px;
            margin-top:0px;
        }

        .mainImg-container {
            width: 350px;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            position: relative;
            left:0px;
        }
        .mainImg {
            width: 350px;
            height: 350px;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
        }

        .interactive {
            margin-right: 0;
        }

        .slideshow {
           width: 350px;
           margin-right: auto;
           margin-left: auto;
        }

        .luc-info-container {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            right:0px;
        }

        .buttons {
            position: relative;
            left: 0px;
        }

        .left-arrow, .right-arrow {
            position: relative;
            top: 20px;
            font-size: 15px;
        }
        }