.project-lucidity {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-top: 200px;
    width: 1000px;
    border-radius: 25px;
    /* background-color:#F0E6CE; */
    color:black;
}

.title {
    text-align: center;
    color: black;
    font-weight: bold;
}

.mainImg-luc {
    height: 380px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }
    
    .left-arrow {
    height: 20px;
    border-style: none;
    background:none;
    cursor: pointer;
    }

    .left-arrow:hover {
        height:23px;
    }
    
    .right-arrow {
        height: 20px;
        border-style: none;
        background:none;
        cursor: pointer;
        position: relative;
        bottom: 4px;
    }

    .right-arrow:hover {
        height:23px;
    }

    .luc-info-container {
        width: 550px;
        margin-right: auto;
        margin-left: auto
    }

    .tech {
        font-weight: 700;
        text-align: center;
    }

    .info {
        font-weight: 200;
    }

    
    @media only screen and (max-width:414px) {
      
        .project-lucidity {
            display: block;
            width: 414px;
            box-shadow:none;
            padding-top: 35px;
            border-radius: 0px;
            margin-top:0px;
        }

        .mainImg-container {
            width: 350px;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            position: relative;
            left:0px;
        }
        .mainImg {
            width: 350px;
            height: 350px;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
        }

        .interactive {
            margin-right: 0;
        }

        .slideshow {
           width: 350px;
           margin-right: auto;
           margin-left: auto;
        }

        .luc-info-container {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            right:0px;
        }

        .buttons {
            position: relative;
            left: 0px;
        }

        .left-arrow, .right-arrow {
            position: relative;
            top: 20px;
            font-size: 15px;
        }
        }