.project-pokedex {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}

.poke-info-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.title {
    text-align: center;
}

.mainImg-poke{
    height: 380px;
}
    
    .live-demo {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .live-demo:hover {
        color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .code {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .code:hover {
        color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    @media only screen and (max-width:414px) {
      
        .project-pokedex {
            display: block;
            margin-top: 100px;
            width: 414px;
            box-shadow:none;
            padding-top: 35px;
            border-radius: 0px;
            margin-top:0px;
        }
        .mainImg {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }

        .poke-info-container {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
            position: relative; 
            top: -20px;
            right:0px;
        }
        }