.project-pokedex {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 width: 1000px;
 height: 420px;
 border-radius: 25px;
 background-color:#F0E6CE;
}

.title {
    text-align: center;
}

.interactive {
    margin-right: 40px;
}

.slideshow {
    width: 800px;
}

.mainImg-container {
    height: 380px;
    width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.mainImg-poke{
    height: 380px;
    position: relative;
    top: 20px;
    left: 20px;
}

.buttons-poke {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom: 240px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .left-arrow {
    border-style: none;
    background:none;
    }
    
    .right-arrow {
        border-style: none;
        background:none;

    }
    
    .live-demo {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: #04A664;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .live-demo:hover {
        color: #04A664;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .code {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: #17539C;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .code:hover {
        color: #17539C;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .poke-info-container {
        width: 400px;
        position: relative;
        right: 25px;
        top: 5px;
    }

    @media only screen and (max-width:414px) {
      
        .project-pokedex {
            display: block;
            margin-top: 100px;
            width: 414px;
            box-shadow:none;
            padding-top: 35px;
            border-radius: 0px;
            margin-top:0px;
        }
        .mainImg {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }

        .interactive {
            margin-right: 0;
        }

        .slideshow {
           width: 350px;
           margin-right: auto;
           margin-left: auto;
        }

        .poke-info-container {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
            position: relative; 
            top: -20px;
            right:0px;
        }
        }