.project-pokedex {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}

.poke-info-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.title {
    text-align: center;
}

.mainImg-poke{
    height: 380px;
}

.buttons-poke {
    width: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .live-demo {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .live-demo:hover {
        color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .code {
        width: 110px;
        padding: 12px;
        border-style: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: bold;
        cursor:pointer;
        font-size: 14px;
        margin-right: 10px;
    }

    .code:hover {
        color: black;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    @media only screen and (max-width:414px) {
      
        .project-pokedex {
            display: block;
            margin-top: 50px;
            width: 414px;
        }

        .mainImg-poke {
            width: 414px;
            object-fit: contain;
        }

        .poke-info-container {
            width: 375px;
            margin-right: auto;
            margin-left: auto;
        }

        .buttons-poke {
            width: 385px;
            position: relative;
            bottom: 200px;
        }
        }