.project-rabido{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.rab-info-container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.mainImg-rab {
    height: 380px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media only screen and (max-width:414px) {
      
    .project-rabido {
        display: block;
        width: 414px;
        margin-top: 50px;
    }

    .mainImg-rab {
        width: 414px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .rab-info-container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right:0px;
    }
}