
.res-header {
    margin-top: 20px;
}

.res-heading {
    text-align: center;
    margin-top: 50px;
}

.resume-container {
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 650px;
    padding:20px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 100;
}

.res-list {
list-style: none;
}

.section {
    color: #17539C;
}

.bold-text {
    font-weight: bold;
    color: #DB5E36;
}

.res-name {
    font-weight: 300;
}


.download {
    width: 110px;
    padding: 12px;
    border-style: none;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor:pointer;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
}

.download:hover {
    color: green;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

  @media only screen and (max-width:414px) {
      
.resume-container {
    width: 325px;
}
    }