.project-spotcheck {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 25px;
    color:black;
}

.spot-img-container {
    margin-left: auto;
    margin-right: auto;
}


.mainImg-spot {
    height: 380px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.spot-info-container {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
}

.info {
    font-weight: 500;
}

.hr {
    border: 1px solid white;
}

.buttons-spot {
    width: 730px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    }

@media only screen and (max-width:768px) {
        
    .project-spotcheck {
       width: 414px;
       display: block;
       margin-left: auto;
       margin-right: auto;
    }  
    
    .mainImg-spot {
        width: 414px;
        /* object-fit: contain; */

    }
    
    .spot-info-container {
        width: 375px;
        margin-right: auto;
        margin-left: auto
    }

    .info {
        width: 375px;
    }
    
    .buttons-spot {
        width: 375px;

        }
    
        
      }