.project-tictactoe{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
    color:black;
}

.title {
    text-align: center;
}

.mainImg-tic {
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
    
.tic-info-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    }

    @media only screen and (max-width:768px) {
      
        .project-tictactoe {
            display: block;
            width: 414px;
            margin-top:50px;
        }
        .mainImg-tic {
            width: 414px;
           height: auto;
            object-fit: contain;
        }
        .tic-info-container {
            width: 375px;
            margin-right: auto;
            margin-left: auto;
            }
        }
