.project-tictactoe{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
    color:black;
}

.title {
    text-align: center;
}

.mainImg-tic {
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
    
.tic-info-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    }

    @media only screen and (max-width:414px) {
      
        .project-tictactoe {
            display: block;
            width: 414px;
            box-shadow:none;
            border-radius: 0px;
            margin-top:0px;
        }
        .mainImg {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }
        }
