.project-weather{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainImg-weather {
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:414px) {

    .project-weather {
        display: block;
        width: 414px;
        box-shadow:none;
        padding-top: 35px;
        border-radius: 0px; 
        margin-top:0px;
    }

}