.aboutme-container {
  /* margin-top: 100px; */
  display: block;
}

.about-details {
width: 550px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.profile-pic {
  height: 225px;
    border-radius: 20px;;
    margin-right: 0px;
  }

  .brand {
    font-size: 13px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
   color: black;
   position: relative;
   bottom: 20px;
  }

  .bold-brand {
    font-weight: bold;
    color: black;
 
  }

  .name {
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }

  .job {
    font-size: 18px;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 20px;
  }
  
 .job {
    animation: type 4s steps(60, end);
    -webkit-animation: type 4s steps(60, end) infinite;
    -moz-animation: type 4s steps(60, end) infinite;
    -o-animation: type 4s steps(60, end) infinite;
  }
  
  @keyframes type {
      from { width: 0; }
  }
  @-webkit-keyframes type {
      from { width: 0; }
  }
  @-moz-keyframes type {
      from { width: 0; }
  }
  @-o-keyframes type {
      from { width: 0; }
  }

    @media only screen and (max-width:414px) {
      
      .aboutme-container {
        height: 100px;
        display: grid;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .about-details {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }

      .name {
        width: 414px;
        font-size: 50px;
        position: relative;
        top: 25px;
      }

      .aboutme {
        display: block;
        width: 414px;
      }

      .profile-pic {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;
      }

      .brand {
        width: 300px;
        position: relative;
        bottom: 30px;
      }
    }

