.aboutme-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  height: 400px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 50px;
    position: relative;
    top: 90px;
  }
  
  .main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .brand {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    color: black;
    position: relative;
    top: 50px;
  }

  .bold-brand {
    font-weight: bold;
 
  }

  .name {
    font-weight: bold;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  /* CSS3 Type Animation */
  
 .name {
    animation: type 4s steps(60, end);
    /* Chrome and Safari Optimisation */
    -webkit-animation: type 4s steps(60, end) infinite;
    /* Firefox Optimisation */
    -moz-animation: type 4s steps(60, end) infinite;
    /* Opera Optimisation */
    -o-animation: type 4s steps(60, end) infinite;
  }
  
  /* Remaining CSS3 Animation */
  
  @keyframes type {
      from { width: 0; }
  }
  
  /* Chrome and Safari Optimisation */
  @-webkit-keyframes type {
      from { width: 0; }
  }
  
  /* Firefox Optimisation */
  @-moz-keyframes type {
      from { width: 0; }
  }
  
  /* Opera Optimisation */
  @-o-keyframes type {
      from { width: 0; }
  }

    @media only screen and (max-width:414px) {
      
      .aboutme-container {
        height: 700px;
        display: grid;
        margin-top: 0px;
        margin-bottom: 200px;
      }

      .profile-pic {
        margin-left: auto;
        margin-right: auto;
      }

      .brand {
        width: 300px;

      }
    }