.aboutme-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
  height: 400px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 50px;
    position: relative;
    top: 90px;
  }
  
  .main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .brand {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    color: black;
    position: relative;
    top: 50px;
  }

  .bold-brand {
    font-weight: bold;
  }

  .name {
    font-weight: bold;
    background: 
    linear-gradient(currentColor 0 0) 
    var(--p, 100%) 100% /var(--d, 0) 1px 
    no-repeat;
    transition: 0.3s, background-position 0s 0.3s;
  }

  .name:hover {
      --d: 100%;
      --p: 0%;
    }


    @media only screen and (max-width:414px) {
      
      .aboutme-container {
        height: 700px;
        display: grid;
        margin-top: 0px;
        margin-bottom: 200px;
      }

      .profile-pic {
        margin-left: auto;
        margin-right: auto;
      }

      .brand {
        width: 300px;

      }
    }