
.education-container {
    margin-right:auto;
    margin-left:auto;
    display: flex;
    justify-content: space-evenly;
}

.education-wrapper {
    text-align: left;
}

.education-title {
    color: black;
    font-weight: 700;
}

.list {
    list-style: none;
    color: black;
}

.school {
    font-weight: 700;
    color: black;
}

@media only screen and (max-width:414px) {
      
.education-container {
    display: block;
    width: 350px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.education-logo {
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 100px;
}

.education-title {
    text-align: center;
}
     }