
.education-container {
    /* width: 850px; */
    margin-right:auto;
    margin-left:auto;
    display: flex;
    justify-content: space-evenly;
}

.education-wrapper {
    text-align: left;
}

.education-title {
    color: #17539C;
    font-weight: 700;
}

.education-logo {
    height: 60px;
    position: relative;
    top: 70px;
    margin-right: 50px;
    margin-left: 100px;
}

.school {
    font-weight: 700;
    color: #DB5E36;
}

@media only screen and (max-width:414px) {
      
.education-container {
    display: block;
    width: 350px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.education-logo {
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 100px;
}

.education-title {
    text-align: center;
}
     }