.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #83A7BF;
  }
  
  .links {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  
  .resume {
      margin-right: 30px;
      font-size: 15px;
      text-decoration: none;
      color: black;
    }
  
  .resume:hover {
    color: white;
    }
  
  .header-icon{
    padding: 0px;
    margin:0px;
    position: relative;
    top: 5px;
  }

  .header-icon:hover {
  transform: scale(1.2);
      }
  
  .github {
    color: black;
      margin-right: 30px;
      text-decoration: none;
    }

  
  .linkedin {
    color: black;
    margin-right: 30px;
    text-decoration: none;
  }
      .contact-link {
          margin-right: 30px;
          font-size: 15px;
      text-decoration: none;
      color: black;
      }
  
      .contact-link:hover {
        color: white;
        }
      
  
  @media only screen and (max-width:414px) {

    .logo {
      display: block;
      text-align: center;
      margin-left: 0px;
    }

    .name {
      /* width: 414px; */
      position: relative;
      bottom: 0px;
      margin: 0px;
      margin-top: 30px;
      text-align: center;
    }

    .job {
      /* width: 414px; */
      position: relative;
      bottom: 0px;
       margin-top: 0px;
    }
        
      .links {
        /* width: 375px; */
          text-align: center;
          display: block;
      }
  
      .resume, .github, .linkedin, .contact-link {
          margin: 0px;
      }

      .navbar {
        /* width: 414px; */
        display: flex;
        justify-content: space-evenly;
      }

      .github, .linkedin {
        position: relative; 
        bottom: 15px;
      }
  
      
    }