.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
 
  }
  
  .links {

      text-align: right;
  }
  
  .resume {
      margin-right: 30px;
      font-size: 15px;
      text-decoration: none;
      color: black;
    }
  
    .resume:hover {
      font-weight: bold;
    }
  
  .header-icon{
    padding: 0px;
    margin:0px;
    position: relative;
    top: 5px;
  }

  .header-icon:hover {
  transform: scale(1.2);
      }
  
  .github {
    color: black;
      margin-right: 30px;
      text-decoration: none;
    }

  
  .linkedin {
    color: black;
    margin-right: 30px;
    text-decoration: none;
  }
      .contact-link {
          margin-right: 30px;
          font-size: 15px;
      text-decoration: none;
      color: black;
      }
  
      .contact-link:hover {
          font-weight: bold;
        }
      
  
  @media only screen and (max-width:414px) {
        
      .links {
          text-align: center;
          display: flex;
          justify-content: space-evenly;
          text-decoration: underline;
      }
  
      .resume, .github, .linkedin, .contact-link {
          margin-right: 0px;
      }

      .header-icon {
        position: relative;
        top: -7px;
      }
  
      
    }