.aboutme-container {
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  /* margin-bottom: 200px; */
  /* background-color: #8BBBE5; */
  background-color: #171E2A;
  height: 400px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 50px;
    position: relative;
    top: 90px;
  }
  
  .main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .brand {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    color: white;
    position: relative;
    top: 90px;
  }

  .bold-brand {
    font-weight: bold;
  }

  .name {
    font-weight: bold;
    color: #E34646;
  }