.profile-pic {
    border-radius: 50%;
  }
  
  .main {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .brand {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }