.header {
display: block;
margin-left: auto;
margin-right: auto;
padding: 10px;
}

.links {
    text-align: right;
}

.resume {
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.github {
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.email {
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.linkedin {
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
    

