.header {
display: block;
margin-left: auto;
margin-right: auto;
padding: 10px;
}

.links {
    text-align: right;
}

.resume {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.resume:hover {
    text-decoration: underline;
}

.github {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.github:hover {
    text-decoration: underline;
}


.linkedin {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
    
.linkedin:hover {
    text-decoration: underline;
}

@media only screen and (max-width:390px) {
      
    .links {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        text-decoration: underline;
    }

    .resume, .github, .linkedin {
        margin-right: 0;

    }
    
  }