.projects {
display: grid;
grid-template-columns: repeat(2, 1fr);
width: 900px;
margin-right: auto;
margin-left: auto;
  }

  .project-title {
    text-align: right;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .more-info {
    margin-top: 15px;
    padding: 12px;
    border-style: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;

  }

  .lucidity-home {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }
  
  .pokemon-main {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }
  
  .tic-two {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }