.projects {
/* display: flex;
justify-content: space-evenly; */
display: grid;
grid-template-columns: repeat(2, 1fr);
  }

  .more-info {
    margin-top: 15px;
    padding: 12px;
    border-style: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;

  }

  .lucidity-home {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }
  
  .pokemon-main {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }
  
  .tic-two {
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left:auto;
  border-radius: 20px;
  }