*{
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
  background-color: white;
  color: black;
  background-color: #E4BCA4;
}




@media only screen and (max-width:414px) {
      
  html {
    width: 414px;
  }
  }