*{
  font-family: avenir; 
}

html {
  background-color: #83A7BF;
}

.App {
  text-align: center;
  background-color: white;
  color: black;
  background-color: #83A7BF;
}

@media only screen and (max-width:414px) {
  html {
    width: 414px;
  }
  }

 
