*{
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Oxygen', sans-serif; */
  font-family: avenir;
  /* font-family: 'Merriweather', serif; */

}

.App {
  text-align: center;
  background-color: white;
  color: black;
  background-color: #FAFBE8;
}

@media only screen and (max-width:414px) {
  html {
    width: 414px;
  }
  }

 
